{% extends "index.html" %}

{%block content %}
<section class="py-5 text-center container">
      <div class="row py-lg-5" bis_skin_checked="1">
        <div class="col-lg-6 col-md-8 mx-auto" bis_skin_checked="1">
          <h1 class="fw-light">Войти</h1>
        </div>
      </div>
</section>

<section class="pb-4">
  <div class="container">
    {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Ошибка</strong> Неверное имя пользователя или пароль. Пожалуйста, попробуйте еще раз.
      </div>
    {% endif %}
  </div>
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="text" id="form2Example1" class="form-control" name="username">
          <label class="form-label" for="form2Example1" style="margin-left: 0px;">Логин</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>


        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="form2Example2" class="form-control" name="password">
          <label class="form-label" for="form2Example2" style="margin-left: 0px;">Пароль</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>


        <div class="row mb-4" bis_skin_checked="1">
          <div class="col d-flex justify-content-center" bis_skin_checked="1">

            <div class="form-check" bis_skin_checked="1">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
              <label class="form-check-label" for="form2Example31"> Запомнить меня </label>
            </div>
          </div>

          <div class="col" bis_skin_checked="1">

            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
          </div>
        </div>


        <div class="col d-flex justify-content-center" bis_skin_checked="1">
          <button type="submit" class="btn btn-success btn-block mb-4">Войти</button>
        </div>



        <div class="text-center" bis_skin_checked="1">
          <p>Уже зарегистрированы? <a href="#!">Регистрация</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    </section>
</section>
{% endblock %}

