{%extends "index.html"%}

{%block content%}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Регистрация</h1>
      </div>
    </div>
</section>


<section class="pb-4">
  {% if user_form.errors %}
      <div class="alert alert-danger">
        <strong>Error!</strong> {{user_form.errors.password2}} {{user_form.errors.username}}
      </div>
  {% endif %}

  </div>
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <form style="width: 22rem;" method="post">
        {% csrf_token %}
        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="text" id="username" class="form-control" name="username" value="{{user_form.username.value}}">
          <label class="form-label" for="username" style="margin-left: 0px;">Ваш Никнейм</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="email" id="email" class="form-control" name="email" value="{{user_form.email.value}}">
          <label class="form-label" for="email" style="margin-left: 0px;">Ваша почта</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="text" id="firstname" class="form-control" name="first_name" value="{{user_form.first_name.value}}">
          <label class="form-label" for="firstname" style="margin-left: 0px;">Ваше имя</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>

<div class="form-outline mb-4" bis_skin_checked="1">
          <input type="text" id="lastname" class="form-control" name="last_name" value="{{user_form.last_name.value}}">
          <label class="form-label" for="lastname" style="margin-left: 0px;">Ваша фамилия</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 88.8px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>





        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="password1" class="form-control" name="password">
          <label class="form-label" for="password1" style="margin-left: 0px;">Пароль</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>


        <div class="form-outline mb-4" bis_skin_checked="1">
          <input type="password" id="password2" class="form-control" name="password2">
          <label class="form-label" for="password2" style="margin-left: 0px;">Повторите пароль</label>
        <div class="form-notch" bis_skin_checked="1"><div class="form-notch-leading" style="width: 9px;" bis_skin_checked="1"></div><div class="form-notch-middle" style="width: 64px;" bis_skin_checked="1"></div><div class="form-notch-trailing" bis_skin_checked="1"></div></div></div>








        <div class="col d-flex justify-content-center" bis_skin_checked="1">
          <button type="submit" class="btn btn-success btn-block mb-4">Регистрация</button>
        </div>



        <div class="text-center" bis_skin_checked="1">
          <p>Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a></p>
          <p>or sign up with:</p>

        </div>
      </form>
    </section>
</section>
{%endblock%}

